<h1> Album Reviews </h1>

  <p> Login
  <form action="/login" method="POST">
    <p>
    <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </p>

    <input type="submit" value="Log In" />

  </form>
  <a href ="/users/signup">Sign Up</a>
