<h1> Album Reviews </h1>

  <h2> Login: </h2>

  <form action="/login" method="POST">
    <p>
    <input type="text" name="username" id="username"placeholder="Username:">
    <p>
    <input type="password" name="password" id="password"placeholder="Password:">

      <input type="submit" value="Log In" />

  </form>
  <a href ="/signup">New to our site? Sign Up!</a>
