<head>
  <title>Album Reviews</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron text-center">
  <h1> Album Reviews </h1>

  <h2> Login: </h2>

  <form action="/login" method="POST">
    <p>
    <input type="text" name="username" id="username"placeholder="Username:">
    <p>
    <input type="password" name="password" id="password"placeholder="Password:">
    <p>
    <input type="submit" value="Log In" />

  </form>
  <a href ="/signup">New to our site? Sign Up!</a>

</div>
