<h1>Album Reviews</h1>

<h2> Sign Up: </h2>
<h3>
<form action="/signup" method="POST">
  <p>
  <input type="text" name="username" id="username"placeholder="Username:">
  <p>
  <input type="password" name="password" id="password"placeholder="Password:">

  <input type="submit" value="Sign Up">
</form>
<a href ="/login">Already a user? Log in!</a>
