<h1> Create an Album Review </h1>

  <form action="/reviews" method ="POST">
    <p> Name of Album: <input type="text" name="album_name"></p>
    <p> Genre: <input type="text" name ="genre">
    <p> Rating (1-10):<input type="integer" name="rating">
    <p>
      <label> Review:</label>
      <textarea id = "review"
        rows = "8"
        cols = "60">Your Review Here</textarea>
      </p>

    <input class="button"type="submit" value="submit">
  </form>








  
