<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<% @reviews.each do |review| %>
  <div class ="panel panel-default">
    <div class ="panel-heading"><h3> Album Name: <%= review.album_name %> </h3></div>
      <div class ="panel-body"> Artist: <%= review.artist%> Genre: <%= review.genre %> <br> Review: <%= review.content %> </div>
    </div>


    <% end %>
